<div class="container-fluid bgColorMenu">


    <div class="row bgGray">
      <div class="col-md-12 d-flex justify-content-center">
        <a href="#nav-top" id="voltarRodape" aria-label="Voltar ao início">
          <div>
            <span>Voltar ao início</span>
          </div>
        </a>
      </div>
    </div>

  <div class="container">

    <div class="row pt-5">
        <div class="col-md-12 displayRodape bgColorMenu text-white fs-16">
         
          <div>
            
            <ul class="lista-rodape">
              <h5>INSTITUCIONAL</h5>
              <li><a href="">Sobre a Duke</a></li>
              <li><a href="">Política de Privacidade</a></li>             
              <li><a href="">Regulamentos</a></li>
              <li><a href="">Uso de Cookies</a></li>
              <li><a href="">Eventos</a></li>
              <li><a href="">Contato</a></li>
            </ul>         

          </div>
          
          <div>
            
            <ul class="lista-rodape">
              <h5>Deixe-nos ajudar você</h5>
              <li><a href="">Como Comprar</a></li>
              <li><a href="">Entregas</a></li>
              <li><a href="">Pagamentos</a></li>
              <li><a href="">Cancelamentos</a></li>
              <li><a href="">Trocas e devoluções</a></li>
              <li><a href="">Termos e condições</a></li>
              <li><a href="">Condições de garantia</a></li>              
            </ul> 

          </div>

          <div>
            
            <ul class="lista-rodape">
              <h5>Acessos Rápidos</h5>
              <li><a href="">Minha conta</a></li>
              <li><a href="">Meus Pedidos</a></li>
              <li><a href="">Meu Carrinho</a></li>
              <li><a href="">Login</a></li>
              <li><a href="">Cadastrar</a></li>
              <li><a href="">Todos os Produtos</a></li>           
            </ul> 

          </div>

          <div>
            <img src="https://imgur.com/wKHxY9Q.png" alt="">
          </div>
         
        </div>
      </div>
    
    <hr>

    <div class="row">
      <div
        class="col-md-12 d-flex justify-content-center bgColorMenu text-white fs-16"
      >
        <div>
          <a class="nav-link" href="https://github.com/barbarasalla" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i> GitHub &nbsp; &nbsp;|</a>
        </div>
  
        <div>
          <a class="nav-link" href="https://www.linkedin.com/in/barbara-salla/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin &nbsp; &nbsp;</a>
        </div>    
       
      </div>
    </div>

    <div class="row text-center mt-0">      
        <p class="text-white">Desenvolvido por: <a class="autor">Bárbara Salla</a> - 2022 </p>           
    </div>

    <div class="row text-center">        
        <p class="text-white">Projeto sem fins lucrativos com objetivo de aprendizagem. </p>
    </div>
  
  </div>
  
  </div>