<div class="container-fluid bgColorMenu">
  <div class="row">
    <div class="col-md-12 displayMenu1 text-white fs-14">
      <div>
        <a class="nav-link" href="#">SAC</a>
      </div>

      <div>
        <a class="nav-link" href="#">Meus Pedidos</a>
      </div>

      <!-- <div>
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >Minha Conta</a>
          <div
            class="dropdown-content dropdown-content-left"
            aria-labelledby="navbarDropdown"
          >
             <a class="dropdown-item" href="#">Ver Perfil</a>
            <a class="dropdown-item" href="#">Endereços</a>
            <a class="dropdown-item" href="#">Editar Perfil</a>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>

<div class="container-fluid bgColorMenu">
  <div class="row  py-3">
    <div class="col-md-12 displayMenuPrincipal bgColorMenu text-white fs-14">
      
      <div>
        <a class="navbar-brand" href="#"
          ><img src="https://imgur.com/Z03NcLF.png" alt=""
        /></a>
      </div>

      <div class="submit-line">
        <input
          class="border-r-50 py-1 px-4"
          placeholder="Digite o que você procura"
          type="text"
        />
        <button class="submit-lente border-r-50" type="submit">
          <i class="fa fa-search tm-icon"></i>
        </button>
      </div>

      <div class="justify-content-around">
        <div class="nav-item  displayMenu2">
          
          <div *ngIf="deslogado()">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
                ><i class="fa fa-user-o" aria-hidden="true"></i>
                LOGIN/<br/>CADASTRO
              </a>
                <div
                  class="dropdown-content dropdown-content-left"
                  aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/entrar">Entrar</a>
                    <a class="dropdown-item" routerLink="/cadastrar">Cadastrar</a>
                </div>
            </div>
          </div>

          <div *ngIf="logado()">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle userLogado"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
                ><i class="fa fa-user-o" aria-hidden="true"></i>
                Olá, <b>{{user.name}}</b> 
              </a>
                <div
                  class="dropdown-content dropdown-content-left"
                  aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">Editar Perfil</a>
                    <a class="dropdown-item" (click)="sair()">Sair</a>
                </div>
            </div>
          </div>

          <div class="px-4">
            <a class="nav-link" id="carrinho" href="#"
              >0 <img src="https://imgur.com/vY6UBOk.png" alt=""
            /></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bgColorMenu2">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bgColorMenu2 px-5 py-0 fs-14">
     
          <ul class="navbar-nav mr-auto justify-content-around col-md-12 font-weight" id="navbarSupportedContent">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                CATEGORIAS
              </a>
              <div class="dropdown-content" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Ação</a>
                <a class="dropdown-item" href="#">Aventura</a>
              </div>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="#">NINTENDO SWITCH</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PS5</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">XBOX ONE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PLAYSTATION 4</a>
            </li>
          </ul>
          
        </nav>

    </div>  
</div>
