<div class="container">
    <div class="row justify-content-center titulo">
        <div class="col-md-10">
            <h2>Produtos</h2> 
            <hr>  
        </div>
             
    </div>
    <div class="row displayProduto">
        
        <div class="col-md-3 col-A">
            <div class="filtroProduto">
                <input [(ngModel)]="nomeProduto" (keyup)="findByNomeProduto()" class="form-control" placeholder="Buscar produto pelo nome" type="text">
            </div>
           <div class="cadastrar">
            <p class="text-center tituloAddProduto">Adicionar novo produto</p>
                <button type="button" class="btn btn-cadastrar" data-bs-toggle="modal" data-bs-target="#exampleModal">Cadastrar Produto</button>
           </div>
            
        </div>

        <div class="col-md-5">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th class="col-md-7" scope="col">Produtos</th>
                        <th class="col-md-4" scope="col">Ações</th>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produto of listaProdutos, index as id">
                        <th scope="row">{{id+1}}</th>
                        <td>{{produto.name}}</td>
                        <td>
                            <button class="btn button-lista button-editar" (click)="findId(this.produto.id)" data-bs-toggle="modal" data-bs-target="#exampleModal3" >Editar</button>
                            <button class="btn button-lista button-excluir" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="findId(this.produto.id)">Excluir</button>
                        </td>
                      </tr>
                </tbody>
              </table>
        </div>

</div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header"> 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="row justify-content-center">
                <div class="row displayCadastrar">
                    <h2 class="text-center pb-3">CADASTRAR PRODUTO</h2>
        
                    <div class="col-md-6 displayColCadastro">
                        <form class="forms">
                            <div class="mb-3">
                              <label for="inputName" class="form-label">Nome</label>
                              <input [(ngModel)]="produto.name" type="name" class="form-control" id="name" aria-describedby="nameHelp" name="name" placeholder="seu nome">
                            </div>
                            <div class="mb-3 descrition">
                                <label for="inputDescrition" class="form-label">Descrição do Produto</label>
                                <input [(ngModel)]="produto.descrition" type="name" class="form-control" id="descrition" aria-describedby="descritionHelp" name="descrition" placeholder="descrição do produto">
                            </div>
                            <div class="mb-3">
                                <label for="inputPhoto" class="form-label">Foto</label>
                                <input [(ngModel)]="produto.photo" type="name" class="form-control" id="photo" aria-describedby="photoHelp" name="photo" placeholder="insira url da imagem . jpg ou .png">
                            </div>
                            <div class="mb-3">
                                <label for="inputConsole" class="form-label">Console</label>
                                <input [(ngModel)]="produto.console" type="name" class="form-control" id="console" aria-describedby="nameHelp" name="console" placeholder="Plataforma">
                            </div>
                            
                          </form>
                    </div>
        
                    <div class="col-md-6 displayColCadastro">
                        <form class="forms">
                            <div class="mb-3">
                                <label for="inputPrice" class="form-label">Valor</label>
                                <input [(ngModel)]="produto.price" type="number" class="form-control" id="price" aria-describedby="nameHelp" name="price" placeholder="Preço do produto em R$">
                              </div>
                            <div class="mb-3">
                                <label for="inputReleaseDate" class="form-label">Data de lançamento</label>
                                <input [(ngModel)]="produto.releaseDate" type="date" class="form-control" id="releaseDate" aria-describedby="ReleaseDateHelp" name="releaseDate">
                            </div>
                            <div class="mb-3">
                                <label for="inputStock" class="form-label">Estoque</label>
                                <input [(ngModel)]="produto.stock" type="number" class="form-control" id="stock" aria-describedby="stockHelp" name="stock" placeholder="Qnt. disponível">
                            </div>
                            <div class="mb-3">
                                <label for="texto">Escolha uma categoria ou <a href="#novaCategoria" class="linkCategoria">adicione nova categoria</a></label>
                                <select class="form-control" name="categoria" id="categoria" [(ngModel)]="categoriaId" (change)="findByIdCategorias()">
                                    <option *ngFor="let categoria of listaCategorias" value="{{categoria.id}}">{{categoria.name}}</option>
                                </select>
                            </div>
                            <div class="buttonDisplay">
                                <button type="submit" class="btn button button-cancelar" data-bs-dismiss="modal">CANCELAR</button>
                                <button type="submit" class="btn button button-add" (click)="cadastrarProduto()" data-bs-dismiss="modal">Cadastrar Produto</button>
                            </div>                            
                          </form>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row justify-content-center" id="novaCategoria">
            <div class="col-md-6 cadastrarCategoria">
                <p class="text-center tituloAddCategoria">Adicionar uma categoria</p>
                <input [(ngModel)]="categoria.name" name="name" id="name" class="form-control input-cadastrar" type="text">
                <button class="btn btn-cadastrar" (click)="cadastrarCategoria()">Cadastrar categoria</button>
            </div>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn button button-cancelar" data-bs-dismiss="modal">CANCELAR</button>
        </div>
      </div>
    </div>
  </div>

<!--MODAL EXCLUIR-->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-md-12 displayProdutoDelete">
                    <h1>Excluir Produto</h1>
                    <p>Tem certeza que deseja excluir esse produto?</p>
                    <div class="row">
                        <div class="col-md-12 buttons">
                            <button class="btn button-cancelar" data-bs-dismiss="modal">Cancelar</button>
                            <button class="btn button-apagar" (click)="deletarProduto()"  data-bs-dismiss="modal">Apagar</button>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <!--MODAL EDITAR-->

  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header"> 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cacheIdProduto()"></button>
        </div>
        <div class="modal-body">

            <div class="row justify-content-center">
                <div class="row displayCadastrar">
                    <h2 class="text-center pb-3">ATUALIZAR PRODUTO</h2>
        
                    <div class="col-md-6 displayColCadastro">
                        <form class="forms">
                            <div class="mb-3">
                              <label for="inputName" class="form-label">Nome</label>
                              <input [(ngModel)]="produto.name" type="name" class="form-control" id="name" aria-describedby="nameHelp" name="name" placeholder="seu nome">
                            </div>
                            <div class="mb-3 descrition">
                                <label for="inputDescrition" class="form-label">Descrição do Produto</label>
                                <input [(ngModel)]="produto.descrition" type="name" class="form-control" id="descrition" aria-describedby="descritionHelp" name="descrition" placeholder="descrição do produto">
                            </div>
                            <div class="mb-3">
                                <label for="inputPhoto" class="form-label">Foto</label>
                                <input [(ngModel)]="produto.photo" type="name" class="form-control" id="photo" aria-describedby="photoHelp" name="photo" placeholder="insira url da imagem . jpg ou .png">
                            </div>
                            <div class="mb-3">
                                <label for="inputConsole" class="form-label">Console</label>
                                <input [(ngModel)]="produto.console" type="name" class="form-control" id="console" aria-describedby="nameHelp" name="console" placeholder="Plataforma">
                            </div>
                            
                          </form>
                    </div>
        
                    <div class="col-md-6 displayColCadastro">
                        <form class="forms">
                            <div class="mb-3">
                                <label for="inputPrice" class="form-label">Valor</label>
                                <input [(ngModel)]="produto.price" type="number" class="form-control" id="price" aria-describedby="nameHelp" name="price" placeholder="Preço do produto em R$">
                              </div>
                            <div class="mb-3">
                                <label for="inputReleaseDate" class="form-label">Data de lançamento</label>
                                <input [(ngModel)]="produto.releaseDate" type="date" class="form-control" id="releaseDate" aria-describedby="ReleaseDateHelp" name="releaseDate">
                            </div>
                            <div class="mb-3">
                                <label for="inputStock" class="form-label">Estoque</label>
                                <input [(ngModel)]="produto.stock" type="number" class="form-control" id="stock" aria-describedby="stockHelp" name="stock" placeholder="Qnt. disponível">
                            </div>
                            <div class="mb-3">
                                <label for="texto">Escolha uma categoria ou <a href="#novaCategoria" class="linkCategoria">adicione nova categoria</a></label>
                                <select class="form-control" name="categoria" id="categoria" [(ngModel)]="categoriaId" (change)="findByIdCategorias()">
                                    <option *ngFor="let categoria of listaCategorias" value="{{categoria.id}}">{{categoria.name}}</option>
                                </select>
                            </div>
                            <div >
                                <button type="submit" class="btn button-atualizar" (click)="atualizarProduto()" data-bs-dismiss="modal">Atualizar Produto</button>
                            </div>                            
                          </form>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row justify-content-center" id="novaCategoria">
        <div class="col-md-6 cadastrarCategoria">
            <p class="text-center tituloAddCategoria">Adicionar uma categoria</p>
            <input [(ngModel)]="categoria.name" name="name" id="name" class="form-control input-cadastrar" type="text">
            <button class="btn btn-cadastrar" (click)="cadastrarCategoria()">Cadastrar categoria</button>
        </div>
    </div>

        <div class="modal-footer">
          <button type="button" class="btn button button-cancelar" data-bs-dismiss="modal" (click)="cacheIdProduto()">CANCELAR</button>
        </div>
      </div>
    </div>
  </div>