<div class="container-fluid bgEntrar">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 box-entrar">
            <h2 class="text-center pb-3">ACESSE SUA CONTA</h2>
            <form class="forms">
                <div class="mb-3">
                  <label for="exampleInputuserName" class="form-label">Email</label>
                  <input [(ngModel)]="userLogin.userName" type="email" class="form-control" id="userName" aria-describedby="emailHelp" name="userName">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword" class="form-label">Password</label>
                  <input [(ngModel)]="userLogin.password" name="password" type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-entrar py-1" (click)="entrar()">Entrar</button>
                <p class="criarConta">Não possui uma conta? <a routerLink="/cadastrar">Criar Conta</a>.</p>
              </form>
        </div>
    </div>
</div>