/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #000000;
  --primary-color: #cc0606;
  --secondary-color: #EBEBEB;
  --cinza-primary: #D9D9D9;
  --success-color: rgb(84, 84, 84);
  --danger-color: #cc0606;
  --info-color: #202020;
}

.fs-14{
    font-size: 14pt;
}
.fs-16{
    font-size: 16pt;
}
.fs-18{
    font-size: 18pt;
}

.border-r-50{
    border-radius: 50px;
}


.bgColorMenu{
    background-color: #000000;
  }

  .bgColorMenu2{
    background-color: var(--primary-color);
  }
  
  .bgColor{
    background-color: #EBEBEB;
  }

  .bgColorCinza{
    background-color:#D9D9D9;
  }

  /*-------CARD STYLE----------*/

  .card-product{
    width: 20rem;
    padding: 10px 10px 0px 10px;
    box-shadow: 1px 3px 3px rgb(134, 133, 133);
    text-align: center;
    margin: 15px 0px 15px 0px;
  }

  .card-img{
    width: 15rem;
    max-height: 20rem;
  }

  .btn-comprar{
    margin-top: 10px;
    background-color: #000000;
    color: white;
    width: 270px;
    height: 40px;
    border-radius: 10px;
    border: transparent;
    font-weight: bold;
    font-size: 16pt;
  }

  .btn-comprar

  .card-texto{
    font-size: 16pt;
  }

  .price-product-old{
    font-size: 1.rem;
    text-decoration: line-through;
    color: rgb(255, 0, 0);
  }

  .price-product{
    font-size: 1.3rem;
    font-weight:bolder;
    color: rgb(125, 133, 133);
  }

  /*---------------------*/